body {
  background-color: #0000b3; /* Warna biru gelap */
  fontfamily: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
  color: #ff751a; /* Warna teks utama (Orange cerah) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
  text-align: center;
}

.kartu-profil img {
  width: 200px;
  border-radius:50%;
}
